<!DOCTYPE html>
<div>

  <div class="banner">
    <img src="../../assets/images/banner.jpg" alt="banner" class="banner-img">
  </div>

  <div class="container-home">

    <div class="section">
      <img src="../../assets/images/pond.jpg" alt="pond">
      <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, et ex? Animi, perferendis excepturi!
        Quo officiis enim sunt voluptatibus quam ipsa, corporis temporibus reprehenderit consequuntur! Quia a eum nesciunt nisi.
      </p>
    </div>

    <div class="section" >
      <img src="../../assets/images/fish.jpg" alt="fish" class="left">
      <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, et ex? Animi, perferendis excepturi!
        Quo officiis enim sunt voluptatibus quam ipsa, corporis temporibus reprehenderit consequuntur! Quia a eum nesciunt nisi.
      </p>
    </div>

    <div class="section">
      <img src="../../assets/images/accessories.jpg" alt="accessories">
      <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, et ex? Animi, perferendis excepturi!
        Quo officiis enim sunt voluptatibus quam ipsa, corporis temporibus reprehenderit consequuntur! Quia a eum nesciunt nisi.
      </p>
    </div>

    <div class="section">
      <img src="../../assets/images/calendar.png" alt="calendar" class="left">
      <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, et ex? Animi, perferendis excepturi!
        Quo officiis enim sunt voluptatibus quam ipsa, corporis temporibus reprehenderit consequuntur! Quia a eum nesciunt nisi.
      </p>
    </div>
  </div>

  <social></social>

</div>
